<h1 style="text-align: center">Introduction to Data Science</h1>
<h2 style="text-align: center">Live Lab</h2>

In [ ]:
# Imports
import pandas as pd
import numpy as np
import api.Leaderboard as leaderboard

### Please Enter Your Desired Username and Password Below:

In [13]:
username = 'dannydk6'
password = 'superman64'

leaderboard.signup(username=username,password=password)

This username already exists. Please try another one.

In [14]:
from datetime import datetime
datetime.utcnow()

datetime.datetime(2019, 10, 16, 8, 21, 13, 665131)

In [16]:
leaderboard.submit_question(qnumber=1,
                            response=1965,
                            username=username,
                            password=password)

Already answered question 1 correctly.

In [15]:
games = pd.read_csv('csv/soccer-data.csv')

games.sample(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
31811,2009-12-07,Kenya,Uganda,0,1,CECAFA Cup,Nairobi,Kenya,False
33594,2011-11-11,Cameroon,Sudan,3,1,Friendly,Marrakech,Morocco,True
19713,1996-06-29,Maldives,Singapore,0,2,AFC Asian Cup qualification,Bangkok,Thailand,True
26915,2004-09-08,Portugal,Estonia,4,0,FIFA World Cup qualification,Leiria,Portugal,False
7274,1969-11-05,Mexico,Belgium,1,0,Friendly,Mexico City,Mexico,False
3124,1950-07-09,Spain,Uruguay,2,2,FIFA World Cup,São Paulo,Brazil,True
3787,1955-07-24,Costa Rica,Guatemala,9,1,Friendly,San José,Costa Rica,False
25269,2003-02-12,Bulgaria,Hungary,1,0,Friendly,Larnaca,Cyprus,True
15225,1988-11-27,Kuwait,Russia,0,2,Friendly,Kuwait City,Kuwait,False
36873,2015-06-03,Panama,Ecuador,1,1,Friendly,Panama City,Panama,False

In [12]:
x = games[games.country == 'Scotland'].shape[0]

send_question_1()

NameError: name 'send_question_1' is not defined

In [34]:
vals = games[['home_team','away_team','home_score','away_score']].values

In [38]:
vals[0]

array(['Scotland', 'England', 0, 0], dtype=object)

In [39]:
def winner(vals):
    if vals[2] > vals[3]:
        return vals[0]
    elif vals[2] < vals[3]:
        return vals[1]
    else:
        return 'Tie'

In [40]:
games['Winner'] = [winner(val) for val in vals]

In [58]:
# How many unique cities have games been played in?
games.city.unique().size

1965

In [9]:
submit_question1(
answer=387,
username='dan',
password='danny')

NameError: name 'submit_question1' is not defined

In [50]:
games['city'].unique().shape[0]

1965

In [54]:
games['city'].value_counts().shape[0]

1965

In [56]:
games['city'].value_counts().size

1965

In [74]:
g

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False
10,1879-01-18,England,Wales,2,1,Friendly,London,England,False
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,False
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,False
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,False
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,False
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,False
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,False
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,False
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Republic of Ireland,False
20,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales,False
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland,False
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales,False
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland,False
24,1883-02-03,England,Wales,5,0,Friendly,London,England,False
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England,False
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England,False
27,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales,False
28,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Republic of Ireland,False
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Republic of Ireland,False
...,...,...,...,...,...,...,...,...,...
40915,2019-09-09,Azerbaijan,Croatia,1,1,UEFA Euro qualification,Baku,Azerbaijan,False
40916,2019-09-09,Hungary,Slovakia,1,2,UEFA Euro qualification,Budapest,Hungary,False
40917,2019-09-09,Poland,Austria,0,0,UEFA Euro qualification,Warsaw,Poland,False
40918,2019-09-09,Slovenia,Israel,3,2,UEFA Euro qualification,Ljubljana,Slovenia,False
40919,2019-09-09,Latvia,North Macedonia,0,2,UEFA Euro qualification,Riga,Latvia,False
40920,2019-09-09,Scotland,Belgium,0,4,UEFA Euro qualification,Glasgow,Scotland,False
40921,2019-09-09,Russia,Kazakhstan,1,0,UEFA Euro qualification,Kaliningrad,Russia,False
40922,2019-09-09,San Marino,Cyprus,0,4,UEFA Euro qualification,Serravalle,San Marino,False
40923,2019-09-10,Argentina,Mexico,4,0,Friendly,San Antonio,United States,True
40924,2019-09-10,Brazil,Peru,0,1,Friendly,Los Angeles,United States,True
40925,2019-09-10,Colombia,Venezuela,0,0,Friendly,Tampa,United States,True
40926,2019-09-10,Ecuador,Bolivia,3,0,Friendly,Cuenca,Ecuador,False
40927,2019-09-10,Honduras,Chile,2,1,Friendly,San Pedro Sula,Honduras,False
40928,2019-09-10,Ivory Coast,Tunisia,2,1,Friendly,Rouen,France,True
40929,2019-09-10,Jordan,Paraguay,2,4,Friendly,Amman,Jordan,False
40930,2019-09-10,Morocco,Niger,1,0,Friendly,Marrakech,Morocco,False
40931,2019-09-10,Oman,Lebanon,1,0,Friendly,Muscat,Oman,False
40932,2019-09-10,Republic of Ireland,Bulgaria,3,1,Friendly,Dublin,Republic of Ireland,False
40933,2019-09-10,Ukraine,Nigeria,2,2,Friendly,Dnipro,Egypt,True
40934,2019-09-10,United States,Uruguay,1,1,Friendly,St Louis,Egypt,True
40935,2019-09-10,England,Kosovo,5,3,UEFA Euro qualification,London,England,False
40936,2019-09-10,Montenegro,Czech Republic,0,3,UEFA Euro qualification,Podgorica,Montenegro,False
40937,2019-09-10,Luxembourg,Serbia,1,3,UEFA Euro qualification,Luxembourg City,Luxembourg,False
40938,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,False
40939,2019-09-10,Albania,Iceland,4,2,UEFA Euro qualification,Elbasan,Albania,False
40940,2019-09-10,France,Andorra,3,0,UEFA Euro qualification,Paris,France,False
40941,2019-09-10,Moldova,Turkey,0,4,UEFA Euro qualification,Chișinău,Moldova,False
40942,2019-09-18,DR Congo,Rwanda,2,3,Friendly,Kinshasa,DR Congo,True
40943,2019-09-29,Bangladesh,Bhutan,4,1,Friendly,Dhaka,Bangladesh,False
40944,2019-09-30,Botswana,Liberia,0,0,Friendly,Gaborone,Botswana,False

In [75]:
# How many games were played in each city?
games.groupby('city').count().loc['Glasgow','date']

317

In [26]:
winners = games.Winner.value_counts().reset_index()

In [27]:
winners.columns = ['Team','Winner']

In [28]:
top10 = winners[winners.Team != 'Tie'].head(10)

In [29]:
top10['Color'] = [
                   'red',
                   'yellow',
                   'orange',
                   'green',
                   'blue',
                   'gray',
                   'black',
                   'brown',
                   'purple',
                   'pink'
                   ]

In [30]:
top10.Team.reset_index(drop=True) == ['Brazil','England','Germany','Argentina','Sweden','South Korea', 'Mexico','Hungary','Italy','France']

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: Team, dtype: bool

In [31]:
import hashlib
import requests
import json

def sendAnswer1(answer):
    answer_hash = [hashlib.sha256(team.encode()).hexdigest() for team in answer]
    requests.post('localhost:8000/api/answer1',data=answer_hash)
    return answer_json

In [92]:
hv.Bars(top10,label='Games by Winning Team').opts(aspect=1.5, fig_inches=10, fig_bounds=(0, 0, 1, 1))

:Bars   [Team]   (Winner,Color)

In [58]:
import requests
import json

In [62]:
def signup(username=None,
           password=None):
    body = {'username': username,
            'email': 'mysuperemail@aol.com',
            'password': password}
    r = requests.post('http://localhost:5000/api/register',json=body)
    resp = r.json()
    return resp

In [64]:
signup(username='superdankest',password='memes')

'ok'