# Live Code Lab - Data Science Introduction

## Register for Data Science Leaderboards
Before beginning the Live Code Lab Quiz, please sign up for the Data Science Leaderboard.

Once you create a username and password and then sign up via the jupyter notebook, your username will appear in the leaderboard below:

- http://ds-leaderboards.com

Feel free to work in groups of 1, 2, or 3. The team with the highest rank at the end of the lab will receive an OZK Labs sponsored prize!

In [14]:
# Imports
import pandas as pd
import numpy as np

# API Used to interact with leaderboard app
import api.Leaderboard as leaderboard

### Please Enter Your Desired Username and Password Below:

In [16]:
username = 'jingming'
password = 'ma'

leaderboard.signup(username=username,password=password)

Team created successfully.

## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [13]:
import pandas as pd

df = pd.read_csv('csv/olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.sample(7)

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Sri Lanka,16,0,2,0,2,0,0,0,0,0,16,0,2,0,2,SRI
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
Ethiopia,12,21,7,17,45,2,0,0,0,0,14,21,7,17,45,ETH
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Puerto Rico,17,0,2,6,8,6,0,0,0,0,23,0,2,6,8,PUR
Greece,27,30,42,39,111,18,0,0,0,0,45,30,42,39,111,GRE
Poland,20,64,82,125,271,22,6,7,7,20,42,70,89,132,291,POL

### Question 0 (Example)

What is the name of first country in first row of df?

*This function should return a String.*

In [12]:
# You should write your whole answer within the function provided. The autograder will call
# these functions and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0].name

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

'Afghanistan'

In [ ]:
leaderboard.submit_question(
)

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [13]:
def answer_one():
    return "YOUR ANSWER HERE"

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [4]:
def answer_two():
    return "YOUR ANSWER HERE"

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [5]:
def answer_three():
    return "YOUR ANSWER HERE"

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.

*This function should return a Series named `Points` of length 146*

In [6]:
def answer_four():
    return "YOUR ANSWER HERE"

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](https://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2015/co-est2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [1]:
census_df = pd.read_csv('csv/census.csv')
census_df.head()

NameError: name 'pd' is not defined

In [8]:
def answer_five():
    return "YOUR ANSWER HERE"

### Question 6
**Only looking at the three most populous counties for each state**, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [9]:
def answer_six():
    return "YOUR ANSWER HERE"

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [10]:
def answer_seven():
    return "YOUR ANSWER HERE"

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [11]:
def answer_eight():
    return "YOUR ANSWER HERE"